# Chapter 1- Getting started with Python

## Introduction to Python

"Python is an interpreted, object-oriented, high-level programming language with dynamic semantics. Its high-level built in data structures, combined with dynamic typing and dynamic binding, make it very attractive for Rapid Application Development, as well as for use as a scripting or glue language to connect existing components together. Python’s simple, easy to learn syntax emphasizes readability and therefore reduces the cost of program maintenance. Python supports modules and packages, which encourages program modularity and code reuse. The Python interpreter and the extensive standard library are available in source or binary form without charge for all major platforms, and can be freely distributed."

# What is interactive programming in python?

Interactive Programming is when we run the code directly on the terminal. Here, every line is executed and the output is given in an instant. Continuos interlinked commands are not possible in interactive mode of python. We do not need to save anything in order to run the code.

# What is script programming in python?

In the script mode of python, we write the whole code and then it is executed at once as a whole. We need to save the file in order to execute it. In the case of python, the terminal command is "python -file name"

# Interactive Python in Jupyter

In [3]:

In [1]:
a=30
b=20 
print("what is the product of a and b")
print(a * b)

what is the product of a and b
600

# Script mode in Jupyter Notebook

In [8]:

In [2]:
!python test1.py

70

# Dynamic Types in Python

Python as a script or language is a "Dynamically Types", which means that we do not need to specify the datatype of variables explictly. Variables are declared during run time and are not needed to be defined initially.

In [9]:

In [3]:
a=30

In [10]:

In [4]:
a

30

Out[10]:
30

In[15]:

In [5]:
a=20
print(type(a))
a=20/100
print(type(a))
a="Text"
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>

# What is the command to check the datat type?

type(): It is a function that is used to identify the current data type of the variable.

# Wat are immutable data types()?

The data types where values cannot be changed once assigned.

Immutable Data Types

1 --> Integer (int)

2 --> Floating Point (float)

3 --> boolean (bool)

4 --> string (str)

5 --> frozenset

6 --> Tuples

In[20]:

In [6]:
a="abcd"
print(a)
a="a7cd"
print(a)

abcd
a7cd

# What is a tuple?

A tuple is an ordered, immutable collection of data.

Ordered- Elements have fixed position known as index.
Immutable- Elements cannot be changed after creation.
It can store multiple data types.

In[25]:

In [7]:
a=(2,3)
print(a)
print(type(a))
#a[1]=4

(2, 3)
<class 'tuple'>

# Varriable - Native Python?

A variable in any programming language is a named storage location in memory that holds data, and the value can change while the program runs.

Naming and Using Variables:

# Guidelines:

Variable name can contain only letters, numbers and underscores. No special character other then underscore is allowed. They can start from a letter or underscore, but not with a number.

For Example- var_1 is valid but 1_var is invalid
Spaces are not allowed in the variable names, but underscores can be used to separate words in variable names.

For Example- "var_msg" is valid but "var msg" is invalid as variable name.
Python keywords and functions should not be used as variable names as these words are reserved by python for particular programmatic purpose.
For Example- print

Variables should be short but descriptive.
For Example- name is better than n, student_name is better than s_n, and name_length is better than length_of_persons_name.
Usage of lowercase letter l and uppercase letter O should be avoided as they could be confused with the numbers 1 and 0.

Note: The Python variables you’re using at this point should be lowercase. You won’t get errors if you use uppercase letters, but it’s a good idea to avoid using them for now.

# Varriable Types?

String : A string is a series of characters in a sequence, theye are written within "" or ''.

In[2]:

In [8]:
message= "Hello my name is Bhoomi!"
print(message)

Hello my name is Bhoomi!

# Python String Built-in Methods (Full List)

# 1) Case Conversion Methods

lower()

## Definition and Usage

Return the passed string with all the cased characters converted to lowercase. For example:

In[ ]:

In [9]:
"python".lower()

'python'

upper()

# Definition and Usage

Return the passed string with all the cased characters converted to uppercase. For example:

In[ ]:

In [10]:
"PYTHON".upper()

'PYTHON'

title()

# Definition and Usage

Return a title cased version of the string where words start with an uppercase character and the remaining characters are lowercase.

In[5]:

In [11]:
"python programming".title()

'Python Programming'

Out[5]:

'Python Programming'

capitalize()

# Definition and Usage

Returns the string with its first character in uppercase and the rest in lowercase.

Changed in version 3.8: The first character is now put into titlecase rather than uppercase. This means that characters like digraphs will only have their first letter capitalized, instead of the full character.

In[6]:

In [12]:
"python".capitalize()

'Python'

Out[6]:

'Python'

swapcase()

# Definition and Usage

The swapcase() method returns a string where all the upper case letters are lower case and vice versa.

In[7]:

In [13]:
"PyThOn".swapcase()

'pYtHoN'

Out[7]:

'pYtHoN'

casefold()

# Definition and Usage

Casefold returns a string converted to a standardized lowercase form used for reliable, case-insensitive comparison, following Unicode rules.
It is similar to lower in functioning but stronger then it as it also converts the unicode letters to lowercase as well which is not possible via lower.

For example, the German lowercase letter 'ß' is equivalent to "ss". Since it is already lowercase, lower() would do nothing to 'ß'; casefold() converts it to "ss".

In[8]:

In [14]:
"GERMAN ß".casefold()

'german ss'

Out[8]:

'german ss'

# 2) Remove Spaces / Cleanup

strip(chars=None)

# Definition and Usage

Returns the copy of the string with leading and trailing characters removed. Here, the chars argument is a string specifying which character to be removed. If omitted or None, the chars argument defaults to remove whitespace.

In[11]:

In [15]:
"   hello! oooooo".strip("o")

'   hello! '

Out[11]:

'hello'

lstrip(chars=None)

# Definition and Usage

Returns the copy of the string with leading charcaters removed. Here, the chars argument is a string specifying which character to be removed. If omitted or None, the chars argument defaults to remove whitespace.

In[12]:

In [16]:
"   hello! oooooo".strip("o")

'   hello! '

Out[12]:

'hello'

rstrip(chars=None)

# Definition and Usage

Returns the copy of the stirng with trailing characters removed. Here, the chars argument is a string specifying which character to be removed. If omitted or None, the chars argument defaults to remove whitespace.

In[13]:

In [17]:
"hello  ".rstrip()

'hello'

Out[13]:

'hello'

# Numeric Data Types, Input & Output, Escape Sequences

Topics Covered

Numeric Data Types in Python
Input & Output Functions
Escape Sequences in Strings

# 1) Numeric Data Types in Python

Python provides three main numeric data types:

int → Whole numbers (no decimal)

float → Decimal numbers (real numbers)

complex → Complex numbers like a + bj

Additionally, bool is also treated as a numeric type in Python.

In [18]:
a = 10
b = -99
c = 0

print("a =", a, "| type:", type(a))
print("b =", b, "| type:", type(b))
print("c =", c, "| type:", type(c))

print("a + b =", a + b)
print("a * 5 =", a * 5)

a = 10 | type: <class 'int'>
b = -99 | type: <class 'int'>
c = 0 | type: <class 'int'>
a + b = -89
a * 5 = 50

# float (Floating Point)

Floats are decimal numbers.

Python floats are stored in binary floating format, so small precision issues may occur.

In [19]:
x = 10.5
y = -3.14

print("x =", x, "| type:", type(x))
print("y =", y, "| type:", type(y))
print("x + y =", x + y)
print("x * 2 =", x * 2)

x = 10.5 | type: <class 'float'>
y = -3.14 | type: <class 'float'>
x + y = 7.359999999999999
x * 2 = 21.0

In [20]:
print("0.1 + 0.2 =", 0.1 + 0.2)
print("Is 0.1 + 0.2 equal to 0.3?", (0.1 + 0.2) == 0.3)

0.1 + 0.2 = 0.30000000000000004
Is 0.1 + 0.2 equal to 0.3? False

# complex (Complex Number)

Complex numbers are represented as:

a + bj
where:

a = real part
b = imaginary part
j = √(-1) in Python

In [21]:
z = 2 + 3j

print("z =", z, "| type:", type(z))
print("Real part:", z.real)
print("Imaginary part:", z.imag)

z = (2+3j) | type: <class 'complex'>
Real part: 2.0
Imaginary part: 3.0

In [22]:
z1 = 1 + 2j
z2 = 3 + 4j

print("z1 =", z1)
print("z2 =", z2)
print("z1 + z2 =", z1 + z2)
print("z1 * z2 =", z1 * z2)

z1 = (1+2j)
z2 = (3+4j)
z1 + z2 = (4+6j)
z1 * z2 = (-5+10j)

# bool as Numeric Type

In Python:

True behaves like 1

False behaves like 0

In [23]:
print("True + 5 =", True + 5)
print("False * 10 =", False * 10)
print("type(True) =", type(True))
print("int(True) =", int(True))
print("int(False) =", int(False))

True + 5 = 6
False * 10 = 0
type(True) = <class 'bool'>
int(True) = 1
int(False) = 0

# Type Casting (Conversions)

Python allows conversion between numeric types:

int("10") → 10

float("10") → 10.0

complex(2, 5) → (2+5j)

bool(0) → False

bool(100) → True

In [24]:
s = "10"

i = int(s)
f = float(s)
comp = complex(2, 5)

print("s =", s, "| type:", type(s))
print("int(s) =", i, "| type:", type(i))
print("float(s) =", f, "| type:", type(f))
print("complex(2, 5) =", comp, "| type:", type(comp))

print("bool(0) =", bool(0))
print("bool(100) =", bool(100))

s = 10 | type: <class 'str'>
int(s) = 10 | type: <class 'int'>
float(s) = 10.0 | type: <class 'float'>
complex(2, 5) = (2+5j) | type: <class 'complex'>
bool(0) = False
bool(100) = True

# Useful Numeric Built-in Functions

abs() → absolute value

pow() → power

round() → rounding

max() → maximum value

min() → minimum value

In [25]:
print("abs(-25) =", abs(-25))
print("pow(2, 5) =", pow(2, 5))
print("round(3.14159, 2) =", round(3.14159, 2))
print("max(10, 20, 5) =", max(10, 20, 5))
print("min(10, 20, 5) =", min(10, 20, 5))

abs(-25) = 25
pow(2, 5) = 32
round(3.14159, 2) = 3.14
max(10, 20, 5) = 20
min(10, 20, 5) = 5

# Arithmetic Operators

+ Addition

- Subtraction

* Multiplication

/ Division (always float)

// Floor division

% Modulus (remainder)

** Power

In [26]:
a = 10
b = 3

print("a =", a, "b =", b)
print("a + b =", a + b)
print("a - b =", a - b)
print("a * b =", a * b)
print("a / b =", a / b)
print("a // b =", a // b)
print("a % b =", a % b)
print("a ** b =", a ** b)

a = 10 b = 3
a + b = 13
a - b = 7
a * b = 30
a / b = 3.3333333333333335
a // b = 3
a % b = 1
a ** b = 1000

# 2) Input & Output Functions

input()

Takes user input from keyboard
Always returns a string by default

print()

Displays output in console/notebook
Can use sep and end for formatting

In [27]:
name = input("Enter your name: ")
print("Hello", name)

Hello

In [28]:
age = int(input("Enter age: "))
salary = float(input("Enter salary: "))
print("Age:", age, "| type:", type(age))
print("Salary:", salary, "| type:", type(salary))

ValueError: invalid literal for int() with base 10: ''

# Multiple Inputs in One Line

Using split() to take multiple values from one input line.

Example input: 10 20

In [ ]:
x, y = input("Enter two numbers: ").split()
print("x =", x, "| type:", type(x))
print("y =", y, "| type:", type(y))

x = 15 | type: <class 'str'>
y = 8 | type: <class 'str'>

In [ ]:
x, y = map(int, input("Enter two integers: ").split())
print("Sum =", x + y)

Sum = 160

# Output with print()

print() supports optional parameters:

sep → separator between values

end → what to print at the end

In [ ]:
print(1, 2, 3)                       
print(1, 2, 3, sep="-")              
print("Hello", end=" ")
print("World")

1 2 3
1-2-3
Hello World

# Output Formatting

f-string (Recommended)

Fast and clean formatting:

{value} for direct values

{value:.2f} for 2 decimal places

In [ ]:
name = "Bhoomi"
age = 19
score = 85.6789

print(f"Name: {name}, Age: {age}, Score: {score}")
print(f"Score (2 decimals): {score:.2f}")

Name: Bhoomi, Age: 19, Score: 85.6789
Score (2 decimals): 85.68

In [ ]:
print("Name: {}, Age: {}".format(name, age))
print("Score: {:.2f}".format(score))

Name: Bhoomi, Age: 19
Score: 85.68

In [ ]:
print("Name: %s Age: %d" % (name, age))
print("Score: %.2f" % score)

Name: Bhoomi Age: 19
Score: 85.68

# 3) Escape Sequences in Python

Escape sequences are special characters used in strings with \\.

Common ones:

\\n → New Line

\\t → Tab space

\\\\ → Backslash

\\' → Single quote

\\" → Double quote

\\r → Carriage return

\\b → Backspace

\\a → Alert (beep)

In [ ]:
print("Hello\nWorld")

print("Name\tAge\tCity")
print("Bhoomi\t19\tDehradun")

print("C:\\Users\\Bhoomi\\Documents")

print('It\'s Python')
print("She said \"Hello\"")

print("Hello\rWorld")

print("Warning!\a")

Hello
World
Name	Age	City
Bhoomi	19	Dehradun
C:\Users\Bhoomi\Documents
It's Python
She said "Hello"
World
Warning!

# Raw Strings (Very Important for File Paths and Regex)

Raw strings use r"" and ignore escape sequences.

Useful in:

Windows paths  
Regular expressions

In [ ]:
path1 = "C:\\newfolder\\test"
path2 = r"C:\newfolder\test"

print("Normal string:", path1)
print("Raw string:", path2)

Normal string: C:\newfolder\test
Raw string: C:\newfolder\test

# Combined Practice Program (Interactive)

This program takes user details and prints a structured output using:

input()   
type casting    
f-string formatting   
escape sequences

In [ ]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))
cgpa = float(input("Enter your CGPA: "))

print("\n----- Student Report -----")
print(f"Name:\t{name}")
print(f"Age:\t{age}")
print(f"CGPA:\t{cgpa:.2f}")
print("--------------------------")
print(f"CGPA:\t{cgpa:.2f}")
print("--------------------------")

----- Student Report -----
Name:	Bhoomi
Age:	19
CGPA:	7.48
--------------------------
CGPA:	7.48
--------------------------

# Tokens, Naming Conventions, Operators & Precedence, type() & id()

Topics Covered

Tokens in Python  
Naming Conventions (Identifiers)    
Operators in Python   
Operator Precedence & Associativity   
type() and id() functions   
Each section contains explanation + runnable code.

# Tokens in Python

A token is the smallest meaningful unit in a Python program.

Python source code is broken into tokens by the interpreter before execution.

Main Categories of Tokens   
Keywords (reserved words)  
Identifiers (names of variables, functions, classes)   
Literals (fixed values like numbers, strings)    
Operators (symbols like +, -, ==)   
Delimiters / Separators ((), [], {}, :, , etc.)

# 1. Keywords

Keywords are reserved words with special meaning in Python.
You cannot use keywords as variable names.  

Examples: if, else, for, while, def, class, return, True, None  

We can view all keywords using the keyword module.

In [ ]:
import keyword

print("Total keywords:", len(keyword.kwlist))
print(keyword.kwlist)

Total keywords: 35
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# 2. Identifiers

Identifiers are names you give to:

variables  
functions    
classes  
modules  
Rules for identifiers  

Must start with a letter (A-Z or a-z) or underscore _     
Cannot start with a digit  
Can contain letters, digits, underscores   
Case-sensitive: age, Age, AGE are different   
Cannot be a keyword

In [ ]:
age = 25
_age = 30
age2 = 40

print(age, _age, age2)

25 30 40

# 3. Literals 

Literals are fixed values written directly in code.

Types:

Numeric: 10, 3.14, 2+3j  
String: "hello", 'python'   
Boolean: True, False   
None literal: None    
Collection literals: [1,2], (1,2), {1,2}, {"a":1}

In [ ]:
n = 10
pi = 3.14
name = "Bhoomi"
flag = True
nothing = None
lst = [1, 2, 3]
tup = (1, 2)
st = {1, 2, 3}
dct = {"a": 1}

print(n, pi, name, flag, nothing, lst, tup, st, dct)

10 3.14 Bhoomi True None [1, 2, 3] (1, 2) {1, 2, 3} {'a': 1}

# 4. Operators (as tokens)

Operators are symbols that perform operations on values. Examples:
  
+, -, *, /  
==, !=, <=  
and, or, not

In [ ]:
a=10
b=20
print("sum =",a+b)
print("difference =",a-b)

sum = 30
difference = -10

# 5. Delimiters / Separators

Delimiters are symbols that structure code.

Common delimiters:

() parentheses: function calls, grouping  
[] brackets: lists, indexing  
{} braces: dict/set  
: colon: blocks and slicing  
, comma: separate items  
. dot: attribute access

In [ ]:
nums = [10, 20, 30]
print(nums[0])        
print(nums[0:2])      

data = {"name": "Bhoomi", "age": 19}  
print(data["name"])

10
[10, 20]
Bhoomi

# 2) Naming Conventions (Professional Python Style)

Naming conventions make code readable and maintainable.

Standard Conventions (PEP 8 style)    
Variables & functions: snake_case  
Constants: UPPER_CASE     
Classes: PascalCase  
Protected (internal use): _single_leading_underscore   
Strongly "private" (name mangling): __double_leading_underscore   
Special (magic/dunder): __init__, __str__

In [44]:
student_name = "Bhoomi"
total_marks = 95

def calculate_average(a, b):
    return (a + b) / 2

PI = 3.14159
MAX_RETRIES = 3

class StudentProfile:
    pass

_internal_cache = {}

class BankAccount:
    def __init__(self):
        self.__balance = 0  

print(student_name, total_marks, calculate_average(10, 20), PI, MAX_RETRIES)

Bhoomi 95 15.0 3.14159 3

# Good vs Bad Names

Good names

total_students     
is_valid_email    
compute_loss   
Bad names   

x1, temp2, aa (unless short loop variables)   
data12345 (unclear meaning)    
Naming should reflect:   

purpose     
meaning   
units (if needed): time_seconds, distance_km

# 3) Operators in Python

An operator performs an operation on one or more operands (values).

Categories

Arithmetic  
Comparison (Relational)  
Assignment   
Logical    
Bitwise  
Membership  
Identity

# 1. Arithmetic Operators
+  -  *  /  //  %  **

In [43]:
a, b = 10, 3
print("a + b =", a + b)
print("a - b =", a - b)
print("a * b =", a * b)
print("a / b =", a / b)     
print("a // b =", a // b)   
print("a % b =", a % b)    
print("a ** b =", a ** b)

a + b = 13
a - b = 7
a * b = 30
a / b = 3.3333333333333335
a // b = 3
a % b = 1
a ** b = 1000

# 2. Comparison Operators
==  !=  <  >  <=  >=

They return Boolean (True or False).

In [42]:
x, y = 5, 10
print("x == y:", x == y)
print("x != y:", x != y)
print("x < y:", x < y)
print("x <= y:", x <= y)
print("x > y:", x > y)
print("x >= y:", x >= y)

x == y: False
x != y: True
x < y: True
x <= y: True
x > y: False
x >= y: False

# 3. Assignment Operators
=  +=  -=  *=  /=  //=  %=  **=

They update a variable.

In [41]:
n = 10
n += 5
print("After n += 5:", n)

n *= 2
print("After n *= 2:", n)

n //= 3
print("After n //= 3:", n)

After n += 5: 15
After n *= 2: 30
After n //= 3: 10

# 4. Logical Operators
and, or, not

They operate on boolean expressions.

In [40]:
age = 20
has_id = True

print("Eligible?", age >= 18 and has_id)
print("Either condition true?", age >= 18 or has_id)
print("Negation:", not has_id)

Eligible? True
Either condition true? True
Negation: False

# 5. Bitwise Operators
Used with integers at binary level.

& AND
| OR
^ XOR
~ NOT
<< Left shift
>> Right shift

In [39]:
a, b = 6, 3   # 6 -> 110, 3 -> 011 (binary)

print("a & b =", a & b)   # 010 -> 2
print("a | b =", a | b)   # 111 -> 7
print("a ^ b =", a ^ b)   # 101 -> 5
print("~a =", ~a)         # bitwise NOT (two's complement)
print("a << 1 =", a << 1) # 1100 -> 12
print("a >> 1 =", a >> 1) # 11 -> 3

a & b = 2
a | b = 7
a ^ b = 5
~a = -7
a << 1 = 12
a >> 1 = 3

# 6. Membership Operators
Used to check presence inside a sequence/collection.

in
not in

In [38]:
nums = [10, 20, 30]
print(20 in nums)
print(99 not in nums)

text = "python programming"
print("python" in text)

True
True
True

# 7. Identity Operators
Used to check whether two references point to the same object in memory.

is
is not
Important: is checks identity (same object), not equality of values.

In [37]:
a = [1, 2, 3]
b = [1, 2, 3]
c = a

print("a == b:", a == b)     
print("a is b:", a is b)     
print("a is c:", a is c)

a == b: True
a is b: False
a is c: True

# 4) Operator Precedence & Associativity
Precedence decides which operator is evaluated first in an expression.

General ideas:

() parentheses have highest precedence
** (power) is high precedence and is right-associative
* / // % come before + -
Comparisons come after arithmetic
not > and > or
When in doubt, use parentheses to make intention clear.

In [36]:
print(2 + 3 * 4)      

print((2 + 3) * 4)    

print(-3 ** 2)        
print((-3) ** 2)     

print(2 ** 3 ** 2)

14
20
-9
9
512

# Logical precedence: not, and, or
Evaluation order:

not
and
or

In [35]:
a = True
b = False
c = False

print(not a and b)     

print(a or b and c)

False
True

# 5) type() and id() in Python
type(object)
Returns the data type (class) of a value/object.

id(object)
Returns a unique identity number for the object (often its memory address in CPython). Useful for understanding:

object identity
mutability
references

In [34]:
print(type(10))
print(type(10.5))
print(type("python"))
print(type([1, 2, 3]))
print(type({"a": 1}))
print(type(True))
print(type(None))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'bool'>
<class 'NoneType'>

In [33]:
x = 10
y = 10
z = 11

print("id(x) =", id(x))
print("id(y) =", id(y))
print("id(z) =", id(z))

print("x is y?", x is y)
print("x == y?", x == y)

id(x) = 140720010261912
id(y) = 140720010261912
id(z) = 140720010261944
x is y? True
x == y? True

# id() and Mutability (Very Important)
Immutable types: int, float, str, tuple  
If you "change" them, Python creates a new object.
Mutable types: list, dict, set
They can be modified in-place without creating a new object.

In [32]:
a = 100
print("Before change:", a, "id:", id(a))

a = a + 1
print("After change:", a, "id:", id(a))

Before change: 100 id: 140720010264792
After change: 101 id: 140720010264824

In [31]:
lst = [1, 2, 3]
print("Before change:", lst, "id:", id(lst))

lst.append(4)
print("After append:", lst, "id:", id(lst))

Before change: [1, 2, 3] id: 1930513225472
After append: [1, 2, 3, 4] id: 1930513225472

# Equality (==) vs Identity (is)
== checks whether values are equal
is checks whether two variables point to the same object
Use:

== for value comparison
is for checking None or object identity

In [30]:
a = [1, 2, 3]
b = [1, 2, 3]
c = a

print("a == b:", a == b) 
print("a is b:", a is b)  
print("a is c:", a is c)  

val = None
print("val is None:", val is None)

a == b: True
a is b: False
a is c: True
val is None: True

# Quick Practice (Run and Observe)

Try predicting output before running the cell:

operator precedence    
identity vs equality   
id changes for immutable objects

In [29]:
expr1 = 5 + 2 * 3 ** 2
expr2 = (5 + 2) * (3 ** 2)

print("expr1 =", expr1)
print("expr2 =", expr2)

x = "hello"
y = "he" + "llo"
print("x == y:", x == y)
print("x is y:", x is y)   

m = [1, 2]
n = m
n.append(3)
print("m:", m)
print("n:", n)
print("m is n:", m is n)

expr1 = 23
expr2 = 63
x == y: True
x is y: True
m: [1, 2, 3]
n: [1, 2, 3]
m is n: True