# 1. STRING

# Initialization
Strings are immutable sequences of characters.

Create using:

Single quotes: 'hello'
Double quotes: "hello"
Triple quotes (multi-line): """hello"""

In [2]:
s1 = 'Python'
s2 = "Data Science"
s3 = """Line1
Line2"""

print(s1)
print(s2)
print(s3)

Python
Data Science
Line1
Line2

# Operators on strings

+ concatenation, * repetition
in membership
comparison uses lexicographic order

In [3]:
print("Py" + "thon")      
print("ha" * 3)           
print("a" in "cat")       
print("abc" < "abd")

Python
hahaha
True
True

In [4]:
l =["vibhu", "gautam"]
"vibhu" in l

True

# Indexing (0-based)

In [5]:
s = "Python"
print(s[0])   # 'P'
print(s[-1])  # 'n'

print(s[len(s)-1])

P
n
n

# Slicing  
Form: s[start : stop : step] (stop excluded)

In [6]:
s = "Python"
print(s[1:4])    
print(s[:3])     
print(s[3:])     
print(s[5:1:-1])

yth
Pyt
hon
noht

# split() 
Splits into list by delimiter (default = whitespace)

In [7]:
print("one two three".split())       
print("2026-02-10".split("-"))

['one', 'two', 'three']
['2026', '02', '10']

# 2. Lists

# Initialization 
Lists are mutable, ordered collections.

In [8]:
L = [10, 20, 30]
mixed = [1, "A", 3.5, True]
empty = []
print(L)
print(mixed)
print(empty)

[10, 20, 30]
[1, 'A', 3.5, True]
[]

# Common methods  
append(x), extend(iterable), insert(i,x)
remove(x), pop(i), clear()
index(x), count(x)
sort(), reverse()

In [9]:
L = [3, 1, 2]
L.append(5)         
print(L)
L.sort()           
print(L)
L.pop(2)
print(L)
L.remove(5)
print(L)
L.clear()
print(L)

[3, 1, 2, 5]
[1, 2, 3, 5]
[1, 2, 5]
[1, 2]
[]

# Operations  
Concatenation, repetition, membership
indexing/slicing same as strings

In [10]:
print([1,2] + [3,4])      
print([0]*4)              
print(2 in [1,2,3])

[1, 2, 3, 4]
[0, 0, 0, 0]
True

# List comprehension 
Compact way to build lists.

In [11]:
for item in iterator:
    return item*item

SyntaxError: 'return' outside function (1917637672.py, line 2)

In [12]:
squares = [x*x for x in range(1,6)]
evens = [x for x in range(10) if x%2==0]
pairs = [(x,y) for x in [1,2] for y in [3,4,6]]
print(squares)
print(evens)
print(pairs)

[1, 4, 9, 16, 25]
[0, 2, 4, 6, 8]
[(1, 3), (1, 4), (1, 6), (2, 3), (2, 4), (2, 6)]

#  Nesting 
List of lists (2D structure).

In [13]:
mat = [[1,2,3],[4,5,6]]
print(mat[1][2])

6

# 3. Tuples

# Initialization
Tuples are immutable ordered collections.

In [14]:
t1 = (1,2,3)
t2 = 1,2,3          
t3 = (5,)           

print(t1)
print(t2)
print(t3)

(1, 2, 3)
(1, 2, 3)
(5,)

# OPERATIONS
indexing/slicing, +, *, in

In [15]:
t = (10,20,30,40)
print(t[1])      # 20
print(t[1:3])    # (20,30)

20
(20, 30)

# Methods (limited) 
count(x), index(x)

In [16]:
print((1,2,2,3).count(2)) 
print((1,2,2,3).index(2))

2
1

# Nesting

In [17]:
T = ((1,2),(3,4))
print(T[1][0])

3

## **5) List vs Tuple**

| Feature     | List          | Tuple                   |
|:-----------|:-------------:|:-----------------------:|
| Mutability | Mutable       | Immutable               |
| Speed      | Slower        | Faster                  |
| Methods    | Many          | Few                     |
| Use case   | Dynamic data  | Fixed records / keys    |

---

---

# 4. Sets & Dictionaries

# A) Sets
1) Initialization
Sets are unordered, unique elements.

In [18]:
S = {1,2,3}
S2 = set([1,2,2,3])   # {1,2,3}
empty_set = set()     # {} is empty dict, not set
print(S)
print(S2)
print(empty_set)

{1, 2, 3}
{1, 2, 3}
set()

# Methods / Operations 
add, remove, discard, pop
union(|), intersection(&), difference(-), symmetric_difference(^)

In [19]:
A = {1,2,3}
B = {3,4,5}
print(A)
print(B)
print(A | B)   
print(A & B)  
print(A - B)

{1, 2, 3}
{3, 4, 5}
{1, 2, 3, 4, 5}
{3}
{1, 2}

# B) Dictionaries

# Initialization
Key–value mapping. Keys must be hashable (immutable types).

In [20]:
d = {"name":"Vibhu", "age":38}
d2 = dict(a=1, b=2)
print(d)
print(d2)

{'name': 'Vibhu', 'age': 38}
{'a': 1, 'b': 2}

# Common operations/methods  
Access: d[key], safe access: d.get(key, default)
Insert/update: d[key] = value, update()
Remove: pop(key), popitem(), del d[key]
Views: keys(), values(), items()

In [21]:
print(d)
d["age"] = 39
print(d)
print(d.get("city", "NA"))

{'name': 'Vibhu', 'age': 38}
{'name': 'Vibhu', 'age': 39}
NA

# Nesting

In [22]:
student = {
  "name":"A",
  "marks":{"math":90, "python":95}
}
student["marks"]["python"]

95

# Sorting & typecasting  
Sort dict by keys or by values using sorted()

In [23]:
a="LKDJFHASDFJHSAD"
sorted(a)

['A', 'A', 'D', 'D', 'D', 'F', 'F', 'H', 'H', 'J', 'J', 'K', 'L', 'S', 'S']

In [24]:
d = {"b":2, "a":5, "c":1}
print(sorted(d))                       
print(sorted(d.items()))               
print(sorted(d.items(), key=lambda x: x[1]))

['a', 'b', 'c']
[('a', 5), ('b', 2), ('c', 1)]
[('c', 1), ('b', 2), ('a', 5)]

# 5. Functions

# User-defined functions

In [26]:
def add(a, b):
    return a + b

#  Parameters 
positional, keyword, default, variable-length

In [27]:
def f(a, b=10):
    return a+b

def g(*args):        
    return sum(args)

def h(**kwargs):     
    return kwargs

# Documentation (docstring)

In [28]:
def area_circle(r):
    """Return area of circle for radius r."""
    return 3.14159 * r * r

In [29]:
area_circle.__doc__

'Return area of circle for radius r.'

In [30]:
sorted.__doc__

'Return a new list containing all items from the iterable in ascending order.\n\nA custom key function can be supplied to customize the sort order, and the\nreverse flag can be set to request the result in descending order.'

# Scope
Local, Enclosing, Global, Built-in (LEGB)

In [31]:
x = 10
def foo():
    x = 5
    return x

In [32]:
x=10
print(foo())
print(x)

5
10

# Recursion
Function calls itself; must have base case.

In [33]:
def fact(n):
    if n == 0:
        return 1
    return n * fact(n-1)

In [34]:
print(fact(4))

24

# 6. Advanced Functions

# lambda
Anonymous function.

In [35]:
print(square(2))

NameError: name 'square' is not defined

In [36]:
def square(x):
    return x*x

In [37]:
l =[1,2,3,4]

In [38]:
def square(x):
    return x*x
new_list =[]
for each in l:
    new_list.append(square(each))

In [39]:
[x*x for x in l]
list(map(lambda x : x*x, l))

[1, 4, 9, 16]

In [40]:
def square(number):
    return number * number

numbers = [1, 2, 3, 4, 5]


squared_numbers = map(square, numbers)

print(list(squared_numbers))

[1, 4, 9, 16, 25]

In [41]:
list(map(square, l))

[1, 4, 9, 16]

# map()
Apply a function to every element.

In [42]:
nums = [1,2,3]
list(map(lambda x: 100/x, nums))

[100.0, 50.0, 33.333333333333336]

# filter()
Keep only elements satisfying condition.

In [43]:
nums = [1,2,3,4,5]
list(filter(lambda x: x%2==0, nums))

[2, 4]

# Inner functions + returning functions

In [44]:
def outer(msg):
    def inner():
        return msg.upper()
    return inner

f = outer("hello")
print(f)
print(f())

<function outer.<locals>.inner at 0x0000015881C72DA0>
HELLO

In [45]:
outer("hello")()

'HELLO'

# Passing collections/functions

In [46]:
def apply_twice(f, x):
    return f(f(x))

apply_twice(lambda a: a+1, 5)

7

# 7. Mutability in functions + Applications + Doubts

# Mutable vs Immutable behavior  
Immutable types: int, float, str, tuple Mutable types: list, dict, set

Key idea:
If you modify a mutable object inside a function, the caller sees it.
If you “modify” immutable objects, you actually create a new object.

In [47]:
def change_num(x):
    x = x + 1

def change_list(L):
    L.append(99)

a = 10
change_num(a)
print(a)     

L = [1,2]
change_list(L)
print(L)

10
[1, 2, 99]