Below is structured content on Loops (all types) and looping over Lists, Tuples, Sets, Dictionaries, and Arrays in Python, with clear examples.

# 1) Loops in Python: Overview

Python supports two main loop types:

# A) for loop

Used to iterate over items of a sequence/collection (or any iterable).

Syntax-

In [ ]:
for item in iterable:
    # block

# B) while loop

Runs as long as a condition remains True.

Syntax-

In [ ]:
while condition:
    # block

Python also supports loop control statements:

break → exit the loop immediately
continue → skip to next iteration
pass → do nothing (placeholder)
else with loops → runs only if loop finishes normally (no break)

# 2) for Loop Types and Patterns

 2.1 Looping over a range (counting)

In [ ]:
for i in range(5):     # 0 to 4
    print(i)

0
1
2
3
4

Range variations:

In [ ]:
for i in range(2, 7):      # 2 to 6
    print(i)

for i in range(10, 0, -2): # 10, 8, 6, 4, 2
    print(i)

2
3
4
5
6
10
8
6
4
2

2.2 Looping with enumerate() (index + value)

In [ ]:
names = ["A", "B", "C"]
for idx, val in enumerate(names):
    print(idx, val)

0 A
1 B
2 C

Start index from 1:

In [ ]:
for idx, val in enumerate(names, start=1):
    print(idx, val)

1 A
2 B
3 C

2.3 Looping with zip() (parallel iteration)

In [ ]:
students = ["A", "B", "C"]
marks = [90, 85, 92]

for s, m in zip(students, marks):
    print(s, m)

A 90
B 85
C 92

2.4 Nested loops

In [ ]:
for i in range(1, 4):
    for j in range(1, 3):
        print(i, j)

1 1
1 2
2 1
2 2
3 1
3 2

# 3) while Loop Types and Patterns

3.1 Basic while loop

In [ ]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

3.2 Infinite loop (must use break)

In [14]:
while True:
    text = input("Type 'exit' to stop: ")
    if text == "exit":
        break

# 4) Loop Control Statements

4.1 break

In [15]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

4.2 continue

In [16]:
for i in range(6):
    if i % 2 == 0:
        continue
    print(i)   # prints only odd numbers

1
3
5

4.3 pass

In [17]:
for i in range(3):
    pass

4.4 else with loops
for-else: else runs only if loop completes without break

In [18]:
nums = [2, 4, 6, 8]

for n in nums:
    if n % 2 != 0:
        print("Odd found")
        break
else:
    print("No odd number found")

No odd number found

# 5) Looping Through Collections

5.1 Lists (ordered, mutable)

In [19]:
arr = [10, 20, 30]

for x in arr:
    print(x)

10
20
30

Index-based loop (less common, but useful):

In [20]:
for i in range(len(arr)):
    print(i, arr[i])

0 10
1 20
2 30

5.2 Tuples (ordered, immutable)

In [21]:
t = (1, 2, 3)
for x in t:
    print(x)

1
2
3

5.3 Sets (unordered, unique)

In [22]:
s = {10, 20, 10, 30}  # duplicates removed
for x in s:
    print(x)          # order is not guaranteed

10
20
30

If you need sorted order:

In [23]:
for x in sorted(s):
    print(x)

10
20
30

5.4 Dictionaries (key-value mapping)
Loop over keys (default)

In [24]:
d = {"A": 90, "B": 85, "C": 92}

for key in d:
    print(key, d[key])

A 90
B 85
C 92

Loop over values

In [25]:
for val in d.values():
    print(val)

90
85
92

Loop over key-value pairs (recommended)

In [26]:
for k, v in d.items():
    print(k, v)

A 90
B 85
C 92

# 6) Arrays in Python (3 common meanings)

6.1 Python list used as an “array” (most common)

In many beginner contexts, “array” means a list:

In [27]:
a = [1, 2, 3, 4]
for x in a:
    print(x)

1
2
3
4

6.2 array module (typed arrays)

In [28]:
from array import array

a = array('i', [1, 2, 3, 4])   # 'i' means signed int
for x in a:
    print(x)

1
2
3
4

6.3 NumPy arrays (used in Data Science)

In [ ]:
import numpy as np

a = np.array([1, 2, 3, 4])
for x in a:
    print(x)

Loop with index:

In [ ]:
for i in range(a.size):
    print(i, a[i])

# 7) Useful Loop Tools (Very Common)

7.1 sum, min, max

In [31]:
nums = [10, 5, 20]
print(sum(nums))
print(min(nums))
print(max(nums))

35
5
20

7.2 Comprehensions (compact loops)
List comprehension:

In [32]:
squares = [x*x for x in range(1, 6)]
print(squares)

[1, 4, 9, 16, 25]

With condition:

In [33]:
evens = [x for x in range(1, 11) if x % 2 == 0]
print(evens)

[2, 4, 6, 8, 10]

Dictionary comprehension:

In [34]:
d = {x: x*x for x in range(1, 6)}
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

Set comprehension:

In [35]:
unique_lengths = {len(w) for w in ["hi", "hello", "hi", "world"]}
print(unique_lengths)

{2, 5}